<div>

  <div class="col-6 ">
    <h1>Create User</h1>
    <form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
      <!--General alert about error after server response-->
      <div *ngIf="isUserExist">
        <div class="alert-danger">Sorry user with such email or phone already exist! :(</div>
      </div>
      <!--Name-->
      <div>
        <label>Имя</label>
        <input class="form-control" type="text" formControlName="name"/>
        <div *ngIf="form.get('name').invalid && form.get('name').touched">
          <small *ngIf="form.get('name').errors.required">Name is required</small>
        </div>
      </div>
      <!--Surname-->
      <div>
        <label>Фамилия</label>
        <input class="form-control" type="text" formControlName="surname"/>
        <div *ngIf="form.get('surname').invalid && form.get('surname').touched">
          <small *ngIf="form.get('surname').errors.required">Surname is required</small>
        </div>
      </div>
      <!--Patronymic-->
      <div>
        <label>Отчество</label>
        <input class="form-control" type="text" formControlName="patronymic"/>
        <div *ngIf="form.get('patronymic').invalid && form.get('patronymic').touched">
          <small *ngIf="form.get('patronymic').errors.required">Patronymic is required</small>
        </div>
      </div>
      <!--Number-->
      <div>
        <label>Моб.Телефон</label>
        <input class="form-control" type="text" formControlName="number" placeholder="+380908070605"/>
        <div *ngIf="form.get('number').invalid && form.get('number').touched">
          <small *ngIf="form.get('number').errors.required">Number is required</small>
          <small *ngIf="form.get('number').errors.pattern">Number error pattern</small>
        </div>

      </div>
      <!--Email-->
      <div>
        <label>Почта</label>
        <input class="form-control" type="email" formControlName="email"/>
        <div *ngIf="form.get('email').invalid && form.get('email').touched">
          <small *ngIf="form.get('email').errors.required">Email is required</small>
        </div>
      </div>
      <!--Address-->
      <div>
        <label>Адресс</label>
        <input class="form-control" type="text" formControlName="address"/>
        <div *ngIf="form.get('address').invalid && form.get('address').touched">
          <small *ngIf="form.get('address').errors.required">Address is required</small>
        </div>
      </div>
      <!--Submit button-->
      <button class="btn mt-2" type="submit" [disabled]="form.invalid">
        <div>
          <p class="text-primary">Отправить</p>
        </div>
      </button>
    </form>
  </div>
</div>
